/* CSS GLOBAL RESET */
*{outline-color:invert;outline-style:none;outline-width:medium;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100.01%; font-family: verdana; vertical-align: baseline;}
:focus {outline: 0; }
body {line-height: 1; color: black; background: white; font-size:100.01%;}
ol, ul { list-style: none;}
table { border-collapse: separate; border-spacing: 0;}
caption, th, td { text-align: left; font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
strong{ font-weight: bold; }

body{ background: ededed; padding: 10px; }

div.translate h1{ font-size: 17px; margin-bottom: 10px; }
div.translate p{ font-size: 15px; line-height: 18px; margin-bottom: 10px; }


/* IDIOMAS */
div.idiomas{ 
	background:#fff; 
	height: 16px;
	padding: 5px 0 0 10px;
}
div.idiomas a{ 
	display: block;  
	float: left;
	text-indent:-9999px;
	font-size: 1px;
	width: 16px;
	height: 11px;
	margin-right: 10px;
}
div.idiomas span{ 
	vertical-align:top; 
	font-size: 13px;
}
div.idiomas a.translate_en{ background: url('../img/idioma/en.gif') no-repeat; }
div.idiomas a.translate_es{ background: url('../img/idioma/es.gif') no-repeat; }
div.idiomas a.translate_fr{ background: url('../img/idioma/fr.gif') no-repeat; }
div.idiomas a.translate_it{ background: url('../img/idioma/it.gif') no-repeat; }
div.idiomas a.translate_pt{ background: url('../img/idioma/pt.gif') no-repeat; }
div.opcoes_idiomas { 
	padding: 5px 0 0 15px;
	width: 124px;
}
div.opcoes_idiomas a{ margin-right: 15px; }