* { margin: 0; }
body { width: 100%; height: 100%; text-align: center; }
p {
	display: inline-block;
	-webkit-transition: all 1.2s ease-in;
	width: 80px;
	text-align: center;
	background-color: #abeb00;
	background: -webkit-gradient(linear, left top, left bottom, from(#abeb00), to(#fff));
	border: 2px solid #666;
	padding: 5px;
	-webkit-border-radius: 5px;
}
p.dropOut { -webkit-transform: translate(0px, 1200px) rotate(-90deg) scale(0); }
.helpTip
{
	width: 200px;
	margin: 50px;
	text-align: center;
	padding: 10px;
	border: 2px solid #666;
	-webkit-border-radius: 10px;
	background-color: #00abeb;
	background: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff));
}